<div class="masthead clearfix">
  <div class="inner">
    <h3 class="masthead-brand">Mark Thomas</h3>
    <nav class="nav nav-masthead app-nav">
      <%= nav_helper style: 'nav-link', tag_type: 'span' %>
      <%= login_helper(style: 'nav-link') %>
    </nav>
  </div>
</div>

