<div class="blog-masthead">
  <div class="container">
    <nav class="nav blog-nav">
      <%= nav_helper style: 'nav-link', tag_type: 'span' %>
      <%= login_helper style: 'nav-link' %>
    </nav>
  </div>
</div>
