<div class="app-card-container">
  <div class="card">
    <h1>
      About Me
    </h1>
    <hr>
    <div class="row">
      <div class="col-md-4">
        <%= image_tag "bill-gates-africa.jpg", width: 300, alt: "profile image", class: 'profile-img' %>

        <div class="skills">
          <% @skills.each do |skill| %>
            <div class="skill">
              <h4><%= skill.title %></h4>
              <div class="progress">
                <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" aria-valuenow="<%= skill.percent_utilized %>" aria-valuemax="100" style="width:<%= skill.percent_utilized %>%">
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-md-8">
        <h5>
          I’m passionate about producing original and inspiring artwork, from pencil to pixels. I’m a freelance digital
          designer, visual artist, and sometimes a web developer.
        </h5>
        <p>
          I was born in the faraway land of Boston, Massachusetts. As a kid, I watched Jurassic Park daily and dreamed
          of
          becoming a Paleontologist. Once I discovered my chances of working with a live dinosaur were slim-to-none, I
          abandoned
          that dream in favor of doing something in the arts. 12 years later, I enrolled at UMass Amherst in a BFA
          program.
        </p>
        <p>
          Once my degree arrived in the mail, I moved to San Francisco and wound up bartending at a comedy club. Other
          than
          professional design, it was the most exciting job I’ve ever had. I am now a visual designer who specializes in
          branding, UI, and illustration. I make art and develop websites on the
          side. Occasionally I have art shows but only when they let me.
        </p>
        <span>
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#jobHistory"
            aria-expanded="false" aria-controler="jobHistory">
            Job History
          </button>
        </span>

        <span>
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#education"
            aria-expanded="false" aria-controler="education">
            Education
          </button>
        </span>

        <p>
          <div class="collapse" id="jobHistory">
            Jobs
            <div class="card card-block">
              Job 1
            </div>
            <div class="card card-block">
              Job 2
            </div>
          </div>
        </p>

        <p>
          <div class="collapse" id="education">
            Edcuation
            <div class="card card-block">
              School 1
            </div>
            <div class="card card-block">
              School 2
            </div>
          </div>
        </p>
      </div>
    </div>
  </div>
</div>