<h1>Pages#contact</h1>

<p><%= number_to_phone("5555555555") %></p>

<p><%= number_to_currency("120") %></p>

<p><%= number_to_percentage "30.4" %></p>

<p><%= number_with_delimiter "23432423432432" %></p>